:root {
  --accent: #D7B399;
  --red: #D84033;
}

li {
  list-style: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F6F1;
  
}

body {
  width: 1270px;
  margin: 0 auto;

}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -30px;
  flex:1
  
}

.main-nav__treug {
  position: relative;
}

.main-nav__treug::after {
  content: "";
  position: absolute;
  display: inline-block;
  border: 5px solid;
  border-color: transparent;
  border-top-color: black;
  top: 65%;
  right: -5%;
  transform: translate(110%, -25%);
}

.basket__amount {
  display: inline-block;
  background-color: var(--accent);
  border-right: 20px solid var(--accent);
  border-left: 10px solid var(--accent);
  position: relative;
  margin-left: 0px;
  height: 20px;
}

.basket__amount::before {
  content: "";
  display: inline-block;
  border: 10px solid var(--accent);
  border-color: transparent;
  border-right-color: var(--accent);
  border-right-width: 40px;
  position: absolute;
  transform: translate(-120%, 0%);
}

.visually-hidden {
  display: none;
}

.logo__text {
  font-weight: 700;
  font-size: 24px;
}

.main-nav__item {
  font-weight: 500;
  font-size: 14px;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
}

.karusel__desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
}

.btn {
  background-color: var(--accent);
  padding-top: 17px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 29px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
  letter-spacing: 0.03em;
  position: absolute;
  margin-top: 50px;
}
.karusel {
display: flex;

}
div {
  white-space: nowrap
}


.karusel__price {
  
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 51px;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;
color:var(--red)

}

.karusel__price_old {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-align: right;
letter-spacing: 0.05em;
text-decoration-line: line-through;
text-transform: uppercase;
}
.logo {
  position: relative;
  padding:50px;
}
.logo__img {
  position: absolute;
  transform: translate(-120%, -10%)
}
.basket {
  padding-left: 50px;
}



*{
    margin:0;
    padding: 0;
  }
  
      
  
  .slider {
      width: 1100px;
      height: 600px;
      overflow: hidden;
      
      position: relative
     
  }
  /*зачем слайдер и миддл разделены? если добавить значения из миддла в слайдер вроде ничего не меняется*/
   .middle {
    position: absolute;
    
    left:50%;
    transform: translate( -50%);
} 

.navigat {
    position: absolute;
    bottom: 16px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.bar {
    height: 8px;
    width:30px;
    margin: 6px;
    cursor: pointer;
    background-color:var(--accent);
    opacity: .6;
    border-radius: 10px;
    transition: all .4s ease ;

}
.bar:hover{
    opacity: 1;
    transform:scale(1.1) ;

}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center
    
}
.karusel {
  width: 25%;
  transition: all .6s ease ;  /*делает красивое скольжение между слайдами*/
  


}
/*Отсюда начинаю менять*/
.karusel__img  {
  width: 100%;
 object-fit: contain;
 

}

div[class*="karusel-part_right"] {
  flex-grow: 1;
  transform: translate(10px, 25%);
}
div[class*="karusel-part_price"] {
  position: absolute;
  transform: translate(900px);
}
picture {
  width: 563px;
    height: 385px;
    display: block;
}
 .changesize{
  width: 400px;
  object-fit: contain;
}




#r1:checked ~ .s1 {
    margin-left: 0; /*контролирует насколько вправо смещается*/
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}

