:root {
  --accent: #D7B399;
  --red: #D84033;
}

a:-webkit-any-link {
  list-style: none;
  text-decoration: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F6F1;
}

body {
  position: relative;
  margin: 0 auto;
  height: 4222px;
  display: grid;
  min-width: 1920px;
}

.visually-hidden {
  display: none;
}

.main-nav {
  display: grid;
  grid-template-columns: 105px 109px 89px;
  list-style-type: none;
  position: absolute;
  left: 365px;
  top: 45px;
  gap: 35px;
}

.main-nav a {
  color: black;
}

.main-nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17, 07px;
  letter-spacing: 0.03em;
}

.main-nav__treug {
  position: relative;
}

.main-nav__treug::after {
  content: "";
  position: absolute;
  display: inline-block;
  border: 2px solid;
  border-top-width: 4px;
  border-color: transparent;
  border-top-color: black;
  top: 50%;
  right: -5%;
  transform: translate(110%, -25%);
}

.basket__amount {
  display: inline-block;
  background-color: var(--accent);
  border-right: 15px solid var(--accent);
  border-left: 8px solid var(--accent);
  position: relative;
  margin-left: 0px;
  height: 18px;
  font-size: 12px;
}

.basket__amount::before {
  content: "";
  display: inline-block;
  border: 9px solid var(--accent);
  border-color: transparent;
  border-right-color: var(--accent);
  border-right-width: 24px;
  position: absolute;
  transform: translate(-120%, 0%);
}

.logo__img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 869px;
  top: 50px;
}

.logo__text {
  position: absolute;
  width: 141px;
  height: 27px;
  left: 929px;
  top: 56px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* Black */
}

.navForPeople {
  list-style-type: none;
  position: absolute;
  display: grid;
  grid-template-columns: 56px 72px;
  left: 1120px;
  top: 45px;
  gap: 35px;
}

.navForPeople__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17, 07px;
  letter-spacing: 0.03em;
}

.navForPeople a {
  color: black;
}

.BasketAmount {
  list-style-type: none;
  position: absolute;
  display: grid;
  grid-template-columns: 30px 45px;
  left: 1385px;
  top: 39px;
}

.basket__amount {
  right: -30px;
  top: 5px;
}

/*НАВИГАЦИЯ ЗАКАНЧИВАЕТСЯ ЗДЕСЬ*/

.slider {
  width: 1100px;
  height: 600px;
  overflow: hidden;
  position: relative
}

.middle {
  position: absolute;
  top: 435px;
  left: 500px;
  width: 1228px;
  transform: translate(-12%, -50%);
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
  align-items: center
}

#r1:checked~.s1 {
  margin-left: 0;
  /*контролирует насколько вправо смещается*/
}

#r2:checked~.s1 {
  margin-left: -25%;
}

#r3:checked~.s1 {
  margin-left: -50%;
}

#r4:checked~.s1 {
  margin-left: -75%;
}

.karusel {
  width: 25%;
  transition: all .6s ease;
  /*делает красивое скольжение между слайдами*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.karusel__content {
  align-items: center;
  margin-left: 53px;
  margin-top: -225px;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
}

.karusel__desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: -13px;
  margin-bottom: 55px;
}

.btn {
  background-color: var(--accent);
  padding-top: 17px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 29px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
  letter-spacing: 0.03em;
  position: absolute;
  margin-top: -15px;
}

.karusel__img {
  width: 91%;
  object-fit: contain;
  margin-top: -52px;
  margin-left: -10px;
}

.karusel__content_price {
  position: absolute;
  left: 907px;
  margin-left: 57px;
  margin-top: -263px;
}

.karusel__price_old {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  text-decoration-line: line-through;
  text-transform: uppercase;
  padding-left: 87px;
  width: 104px;
}

.karusel__price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--red);
  margin-top: 14px;
  margin-left: 36px;
}

.karusel__img_size {
  width: 400px;
  object-fit: contain;
}

.navigat {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: var(--accent);
  opacity: .6;
  border-radius: 10px;
  transition: all .4s ease;
}

.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

/*КАРУСЕЛЬ ЗАКАНЧИВАЕТСЯ ЗДЕСЬ*/

.delivery {
  position: absolute;
  top: 801px;
  width: 1920px;
  height: 235px;
  background-color: #212121;
}

.delivery__text_subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  padding-top: 80px;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: -20px;
}

.delivery__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 24px;
}

/*БЕСПЛАТНАЯ ДОСТАВКА ЗАКАНЧИВАЕТСЯ ЗДЕСЬ*/

.collection {
  position: absolute;
  width: 960px;
  height: 250px;
  display: grid;
  grid-template-columns: 960px 960px;
  left: 780px;
  top: 1037px;
}

.collection__content {
  justify-self: right;
  display: grid;
  grid-template-columns: 750px 190px 600px 190px;
}

.collection__content_right {
  margin-top: 36px;
  margin-left: 415px;
  margin-bottom: -32px;
}

.collection__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 10px;
}

.collection__desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  position: relative;
}

.collection__button {
  background-color: var(--accent);
  width: 60px;
  height: 31px;
  padding-left: 21px;
  position: absolute;
  margin-top: 17px;
}

.collection__content__girl {
  margin-right: 390px;
}

.collection__img__girl {
  margin-top: 80px;
  margin-left: -18px;
}

.collection__img {
  margin-top: 80px;
  margin-left: -5px;
}

/*МУЖСКАЯ ЖЕНСКАЯ КОЛЛЕКЦИЯ ЗАКАНЧИВАЕТСЯ ЗДЕСЬ*/

.catalog {
  position: absolute;
  top: 1288px;
}

.catalog__items {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  gap: 20px;
  position: relative;
  width: 1250px;
  justify-items: center;
  margin-left: 336px;
  list-style-type: none;
}

.catalog__item_desc {
  position: absolute;
  top: 169px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;
  margin-left: -34px;
}

.catalog__item_desc-bottom {
  position: absolute;
  bottom: 59px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;
  margin-left: -48px;
}

.catalog__item {
  margin-left: 0;
}

.catalog__item_one {
  margin-left: 95px;
}

.catalog__item_two {
  margin-left: 55px;
}

.catalog__item_three {
  margin-left: 20px;
}

.catalog__item_four {
  margin-left: -20px;
}

.catalog__item_five {
  margin-left: 135px;
  margin-top: -10px;
}

.catalog__item_six {
  margin-left: 99px;
  margin-top: -10px;
}

.catalog__item_seven {
  margin-left: 58px;
  margin-top: -10px;
}

.catalog__item_eight {
  margin-left: 20px;
  margin-top: -10px;
}

/*Здесь заканчивается каталог*/

.new-model {
  position: absolute;
  top: 1879px;
  margin-bottom: 611px;
}

.new-model_discount {
  position: absolute;
  top: 2885px;
}

.new-model__header {
  margin-left: 784px;
  margin-bottom: 99px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.04em;
}

.new-model__header_discount {
  padding-left: 4px;
}

.new-model__catalog {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  width: 1250px;
  justify-items: center;
  margin-left: 364px;
  margin-right: 20px;
  list-style-type: none;
  gap: 30px;
}

.new-model__item__corner {
  width: 200px;
  height: 76%;
  border: 5px solid var(--accent);
  position: relative;
  background-color: #F9F6F1;
  padding: 27px;
}

.new-model__item__corner::after, .new-model__item__corner::before {
  content: "";
  display: block;
  background-color: transparent;
  z-index: 20;
  position: absolute;
}

.new-model__item__corner::after {
  width: 100%;
  height: calc(100% - 20px);
  left: -5px;
  top: 10px;
  border-left: 5px solid #F9F6F1;
  border-right: 5px solid #F9F6F1;
}

.new-model__item__corner::before {
  width: calc(100% - 20px);
  height: 100%;
  left: 10px;
  top: -5px;
  border-top: 5px solid #F9F6F1;
  border-bottom: 5px solid #F9F6F1;
}

.new-model__img {
  margin-left: 60px;
}

.new-model__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: -8px;
  width: 112px;
  height: 29px;
  padding-left: 44px;
}

.new-model__price {
  margin-top: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--accent);
}

.btn_all-model {
  margin-left: 849px;
  margin-top: 56px;
  padding-left: 38px;
}

/*Здесь заканчиваются новые модели*/

.form-email {
  position: absolute;
  top: 2708px;
  width: 1920px;
  background-color: #212121;
  height: 180px;
}

.form-email__desc {
  color: white;
  margin-left: 406px;
  margin-top: 72px;
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.02em;
}

.form-email__form {
  margin-left: 1100px;
  margin-top: 50px;
  position: absolute;
}

.form-email__input {
  height: 35px;
  width: 200px;
  margin-top: 21px;
  margin-left: -60px;
  padding-left: 51px;
}

.form-email__button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  padding: 10px 34px 10px 33px;
  background-color: var(--accent);
  color: white;
  position: absolute;
  margin: 20px 0px 0px 33px;
}

/*Скидки и подарки заканчиваются здесь*/

.new-model__img_discount {
  margin-left: 28px;
}

.footer a {
  color: white;
}

.footer {
  position: absolute;
  top: 3837px;
  width: 1920px;
  height: 310px;
  background-color: #212121;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 84px;
}

.footer__items-header {
  width: 116px;
  height: 13px;
  left: 829px;
  top: 3916px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 18px;
  padding-top: 72px;
}

.footer__items {
  list-style-type: none;
}

/*.footer__items{
  margin-left: 135px;
    margin-top: 8px;
}*/

.footer__item {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  color: #CBCFD4;
}

.footer__purpose {
  margin-top: 71px;
  margin-left: 402px;
  width: 210px;
  /*лого уменьшилось когда сдвинула вправо*/
}

.logo_footer {
  position: absolute;
  white-space: nowrap;
  margin-left: -865px;
  margin-top: -49px;
  width: 121px;
}

.f1 {
  width: 116px;
  height: 151px;
  left: 829px;
  top: 3916px;
  margin-left: 15px;
  margin-top: 8px;
}

.f2 {
  width: 124px;
  height: 151px;
  margin-top: 8px;
  margin-left: -611px;
}

.f3 {
  width: 137px;
  height: 119px;
  margin-top: 8px;
  margin-left: -546px;
}

.f4 {
  width: 102px;
  height: 119px;
  margin-left: -490px;
  margin-top: 8px;
}

.social-icon__img {
  margin-right: 10px;
  margin-left: 3px;
}

.footer__purpose_quote {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 73px;
}

.main-nav a {
  color: black;
}

.collection__content a {
  color: white
}

.new-model__header_discount {
  margin-top: 153px;
}

.copyright {
  color: black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  margin-left: 404px;
  margin-top: 8px;
}

.copyright_right {
  margin-left: 569px;
  margin-top: 10px;
}