:root {
  --accent: #D7B399;
  --red: #D84033;
}

li {
  list-style: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F6F1;
}

body {
  width: 1270px;
  margin: 0 auto;
}

.main-nav {
  display: grid;
  align-items: center;
  justify-content: space-around;
  margin-left: 363px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 918px;
  gap: 45px;
  white-space: nowrap;
  margin-top: 5px;
}
.baskett {
position: relative;
display: grid;
grid-template-columns: 56px 72px 91px 50px;
margin-top: -90px;
margin-left: 1120px;
gap: 37px;}

.main-nav__treug {
  position: relative;
}

.main-nav__treug::after {
  content: "";
  position: absolute;
  display: inline-block;
  border: 5px solid;
  border-color: transparent;
  border-top-color: black;
  top: 65%;
  right: -5%;
  transform: translate(110%, -25%);
}

.basket__amount {
  display: inline-block;
  background-color: var(--accent);
  border-right: 20px solid var(--accent);
  border-left: 10px solid var(--accent);
  position: relative;
  margin-left: 0px;
  height: 20px;
}

.basket__amount::before {
  content: "";
  display: inline-block;
  border: 10px solid var(--accent);
  border-color: transparent;
  border-right-color: var(--accent);
  border-right-width: 40px;
  position: absolute;
  transform: translate(-120%, 0%);
}

.visually-hidden {
  display: none;
}

.logo__text {
  font-weight: 700;
  font-size: 24px;
  margin-left: 69px;
}

.main-nav__item {

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
      letter-spacing: 0.03em;
  
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
}

.karusel__desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
}

.btn {
  background-color: var(--accent);
  padding-top: 17px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 29px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
  letter-spacing: 0.03em;
}

.karusel {
  display: flex;
}

div {
  white-space: nowrap
}

.karusel__price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--red)
}

.karusel__price_old {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.logo {
  position: relative;
  padding: 50px;
}

.logo__img {
  position: absolute;
  transform: translate(17%, -10%)
}

.basket {
  padding-left: 50px;
}
/*первая версия*/